@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
  @apply text-primary-light-red;
}

@layer utilities {
  .no-spinner {
    appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  .error {
    color: hsl(0, 100%, 67%);
    opacity: 1;
    /* border: 1px solid hsl(0, 100%, 67%); */
  }
}
